h1, h2,h3,h4{
    color:black;
    font-size:24px;
    text-decoration:none;
    text-align:center;
    font-family:'Lobster', cursive;
    
}

header {
    background-color: black;
    font-family: serif;
    font-size:35px;
    text-align: center;
    margin-right: -8px;
    margin-left: -8px;
    padding-top:10px;
    padding-bottom: 10px;
    
}

header .active{
    background-color:#B2FCFD;
}
header a {
    background-color:#B2FCFD;
    padding: :5px 15px;
    border-radius:10px
}


main {
    color:black; 
    font-size: 50px;
    margin-left: -8px;
    margin-right: -8px;
}

p {
   
    text-align:center;
    font-family:'Lobster', cursive;
}
    
a {
    color:red;
    text-decoration:none;   
}
    
nav a {
    color:white;   
}
    
body {
    background-image:url(http://img1.mxstatic.com/wallpapers/47a25d337ef373dfc77253a143db1a55_large.jpeg);
    background-size: auto;
}

strong {
    font-size: 50px;

}

#photocv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.image-profil{
    width: 200px;
    height:200px;
}

header li {
    display: inline-block;
    width:32%;
    
}

#wrapper {
    max-width:1200px;
    margin: auto;
    margin-top:80px;
    background: #FFF;
    display:block;
    padding:20px;
    overflow: hidden;
}
main {
    max-width:1000px;
    margin: auto;
    margin-top:8px;
    background: #FFF;
    display:block;
    padding:20px;
    overflow: hidden; }


footer {
    background-color: white;
    position: fixed;
    bottom: 0px;
    max-width: 1000px;
    left:25px; 
    right:25px;
    margin: auto;
}
    