h1, h2,h3,h4{
    color:black;
    font-size:24px;
    text-decoration:none;
    text-align:center;
    font-family: cursive;
}

header {
    background-color: black;
    font-family: serif;
    font-size:35px;
    text-align: center;
    margin-right: -8px;
    margin-left: -8px;
    padding-top:10px;
    padding-bottom: 10px;
    
}

header .active{
    background-color: red;
}
header a {
    background-color:#B2FCFD;
    padding: :5px 15px;
    border-radius:10px
}


main {
    color: white; 
    font-size: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

p {
    text-align:justify;
}
    
a {
    color:red;
    text-decoration:none;   
}
    
nav a {
    color:white;   
}
    
body {
    background-image:url(http://img1.mxstatic.com/wallpapers/47a25d337ef373dfc77253a143db1a55_large.jpeg);
    background-size: auto;
}

strong {
    font-size: 50px;

}

img {
    
}

header li {
    display: inline-block;
    width:32%;
}
   